.App {
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Cokcpit button {
  background-color: green;
  color: white;
  font:inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}

.Cokcpit button:hover {
  background-color: lightgreen;
  color: black;
}

.Cokcpit.App button.Red {
  background-color: red;
}

.Cokcpit button.Red:hover{
  background-color: salmon;
  color: black;
}